* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

:root {
	--primary-color: #ee162d;
}

::selection {
	background-color: var(--primary-color);
	color: #fff;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	height: 20em;
}

.energy_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 3em;
}

.consumption_form_group {
	display: flex;
}

.form_group {
	position: relative;
}

.form_group {
	margin: 5em;
}

.form_group input {
	padding: 1em;
	border-radius: 5px;
	border: 2px solid #eee;
}

.form_group input:focus {
	outline: none;
	border: 2px solid var(--primary-color);
}

.form_group input:focus + label {
	transform: translateY(-2.6em);
	font-size: 0.7em;
	color: var(--primary-color);
}

.form_group label {
	position: absolute;
	bottom: 0.8em;
	left: 0.8em;
	transition: all 0.2s ease-in-out;
	background-color: #fff;
	padding: 0 0.3em;
}

.form_group label:hover {
	cursor: text;
}
