/* GLOBAL */

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

:focus {
	outline: none;
}

:root {
	--primary-color: #ee162d;
	--secondary-color: #af0e21;
	--tertiary-color: #fcd1d6;
}

::selection {
	background-color: var(--primary-color);
	color: #fff;
}

/* CONTAINER */
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* MAIN */
.main {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.title {
	font-weight: 100;
}

.logo {
	height: 20em;
	user-select: none;
}

/* FORM */
.energy_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 1em;
}

.consumption_form_group {
	display: flex;
}

.form_group {
	margin: 3em;
	position: relative;
}

/* NOTES */
footer {
	display: flex;
	justify-content: center;
}

.notes {
	max-width: 100%;
	padding-bottom: 2em;
}

.note {
	text-align: center;
	margin: 0.3em 0;
}

.link {
	color: var(--primary-color);
	text-decoration: none;
}
